<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender"/>
    <appender-ref ref="LogFileAppender"/>
  </root>

  <appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, iSchool.Application">
    <bufferSize value="2" />
    <lossy value="false" />
    <connectionType value="System.Data.SqlClient.SqlConnection,System.Data,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Server=192.168.31.11;database=iSchoolLogs;user id=sa;password=Sxb$2019;" />
    <!--<connectionString value="Server=.;database=iSchoolLogs;Integrated Security=true;" />-->
    <commandText value="INSERT INTO [dbo].[SchoolDataLogs]
            ([Level],[Time],[Url],[BusinessId],[Application],[Class],[Method],[Params],[Ip],[Host],[ThreadId],[UserId],[Operator],[Role],[Caption],[Content],[ErrorCode],[Error],[StackTrace]) 
         VALUES(@Level,@Time,@Url,@BusinessId,@Application,@Class,@Method,@Params,@Ip,@Host,@ThreadId,@UserId,@Operator,@Role,@Caption,@Content,@ErrorCode,@Error,@StackTrace)" 
      />
    
    <parameter>
      <parameterName value="@Level" />
      <dbType value="string" />
      <size value="255" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Level}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Time" />
      <dbType value="String" />
      <size value="255" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
          <conversionPattern value="%cst{Time}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Url" />
      <dbType value="String" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
          <conversionPattern value="%cst{Url}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@BusinessId" />
      <dbType value="String" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
          <conversionPattern value="%cst{BusinessId}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Application" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Application}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Class" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Class}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Method" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Method}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Params" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Params}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@Ip" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Ip}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Host" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Host}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@ThreadId" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{ThreadId}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@UserId" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{UserId}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Operator" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Operator}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Role" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Role}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Caption" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Caption}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Content" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Content}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@ErrorCode" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{ErrorCode}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Error" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{Error}" />
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="@StackTrace" />
      <dbType value="string" />
      <layout type="iSchool.Infrastructure.Logs.CustomPatternLayout, iSchool.Application">
        <conversionPattern value="%cst{StackTrace}" />
      </layout>
    </parameter>
    
  </appender>

  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <param name="File" value="logs/log.txt"/>
    <param name="AppendToFile" value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <!-- 在Apache的log4net的FAQ页面上发现了解决方法：把\r\n改成&#13;&#10;即可 -->
      <param name="Header" value="-----------------------[Header]-----------------------&#13;&#10;"/>
      <param name="Footer" value="-----------------------[Footer]-----------------------&#13;&#10;"/>
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  
</log4net>